<!DOCTYPE html>
<html>
  <head>
    <!-- head -->
    {% include head.html %}
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <!-- /fonts -->
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/monokai_sublime.css" | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.url }}" />
    <!-- /stylesheets -->
    <!-- scripts -->
    <script src="{{ "/assets/js/jquery-1.11.3.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/highlight.pack.js" | prepend: site.url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ "/assets/js/c.min.js" | prepend: site.url }}"></script>
    <!-- /scripts -->
    <!-- /head -->
  </head>
  <body>

    {{ content }}

    {% if site.google_analytics %}
    <!-- Google Analytics -->
      {% include google-analytics.html %}
    <!-- /Google Analytics -->
    {% endif %}
    {% if site.baidu_analytics %}
    <!-- Baidu Analytics -->
      {% include baidu-analytics.html %}
    <!-- /Baidu Analytics -->
    {% endif %}
  </body>
</html>
